# Apply #1

In [1]:
import pandas as pd

### 1. 데이터를 로드하고 데이터 행과 열의 갯수를 출력하라

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/BankChurnersUp.csv',index_col=0)
df.shape

(10127, 18)

### 2. Income_Category의 카테고리를 map 함수를 이용하여 다음과 같이 변경하여 newIncome 컬럼에 매핑하라  
    Unknown : N  
    Less than $40K : a
    $40K - $60K : b
    $60K - $80K : c  
    $80K - $120K : d  
    $120K +’ : e

In [3]:
x = pd.Series({'Unknown':'N', 'Less than $40K':'a', '$40K - $60K':'b', 
               '$60K - $80K':'c', '$80K - $120K':'d', '$120K +':'e'})
df.newIncome = df.Income_Category.map(x)
df.newIncome

<ipython-input-3-e6a9f3fc42f6>:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.newIncome = df.Income_Category.map(x)

0        c
1        a
2        d
3        a
4        c
        ..
10122    b
10123    b
10124    a
10125    b
10126    a
Name: Income_Category, Length: 10127, dtype: object

In [4]:
dic = {
    'Unknown'        : 'N',
    'Less than $40K' : 'a',
    '$40K - $60K'    : 'b',
    '$60K - $80K'    : 'c',
    '$80K - $120K'   : 'd',
    '$120K +'        : 'e'   
}

df['newIncome'] = df.Income_Category.map(lambda x: dic[x])

Ans = df['newIncome']
Ans

0        c
1        a
2        d
3        a
4        c
        ..
10122    b
10123    b
10124    a
10125    b
10126    a
Name: newIncome, Length: 10127, dtype: object

### 3. Income_Category의 카테고리를 apply 함수를 이용하여 다음과 같이 변경하여 newIncome 컬럼에 매핑하라
    Unknown : N
    Less than $40K : a  
    $40K - $60K : b  
    $60K - $80K : c  
    $80K - $120K : d  
    $120K +’ : e

In [5]:
def changeCategory(x):
    if x =='Unknown':
        return 'N'
    elif x =='Less than $40K':
        return 'a'
    elif x =='$40K - $60K':   
        return 'b'
    elif x =='$60K - $80K':    
        return 'c'
    elif x =='$80K - $120K':   
        return 'd'
    elif x =='$120K +' :     
        return 'e'

df['newIncome'] = df.Income_Category.apply(changeCategory)

Ans = df['newIncome']
Ans

0        c
1        a
2        d
3        a
4        c
        ..
10122    b
10123    b
10124    a
10125    b
10126    a
Name: newIncome, Length: 10127, dtype: object

### 4. Customer_Age의 값을 이용하여 나이 구간을 AgeState 컬럼으로 정의하라.
    (0~9 : 0 , 10~19 :10 , 20~29 :20 … 각 구간의 빈도수를 출력하라

In [6]:
def changeAge(x):
    y = (x // 10) * 10
    return y

df['AgeState'] = df.Customer_Age.apply(changeAge)
df.AgeState.value_counts().sort_index()

20     195
30    1841
40    4561
50    2998
60     530
70       2
Name: AgeState, dtype: int64

In [7]:
df['AgeState']  = df.Customer_Age.map(lambda x: x//10 *10)
Ans = df['AgeState'].value_counts().sort_index()
Ans

20     195
30    1841
40    4561
50    2998
60     530
70       2
Name: AgeState, dtype: int64

### 5. Education_Level의 값 중 Graduate단어가 포함되는 값은 1 그렇지 않은 경우에는 0으로 변경하여 newEduLevel 컬럼을 정의하고 빈도수를 출력하라

In [8]:
df['newEduLevel'] = df.Education_Level.str.contains('Graduate')
df['newEduLevel'] = df['newEduLevel'].map(lambda x: 1 if x==True else 0)
df['newEduLevel'].value_counts()

0    6483
1    3644
Name: newEduLevel, dtype: int64

In [9]:
df['newEduLevel'] = df.Education_Level.map(lambda x : 1 if 'Graduate' in x else 0)
Ans = df['newEduLevel'].value_counts()
Ans

0    6483
1    3644
Name: newEduLevel, dtype: int64

### 6. Credit_Limit 컬럼값이 4500 이상인 경우 1 그외의 경우에는 모두 0으로 하는 newLimit 정의하라. newLimit 각 값들의 빈도수를 출력하라

In [10]:
df['newLimit'] = df.Credit_Limit.map(lambda x: 1 if x >= 4500 else 0)
df['newLimit'].value_counts().sort_index()

0    5031
1    5096
Name: newLimit, dtype: int64

In [11]:
df['newLimit'] = df.Credit_Limit.map(lambda x : 1 if x>=4500 else 0)
Ans = df['newLimit'].value_counts()
Ans

1    5096
0    5031
Name: newLimit, dtype: int64

### 7. Marital_Status 컬럼값이 Married 이고 Card_Category 컬럼의 값이 Platinum인 경우 1 그외의 경우에는 모두 0으로 하는 newState컬럼을 정의하라. newState의 각 값들의 빈도수를 출력하라

In [12]:
def makeNewState(x):
    if x.Marital_Status == 'Married' and x.Card_Category == 'Platinum':
        return 1
    else:
        return 0

# df['newState'] = df[['Marital_Status', 'Card_Category']].map(lambda x,y: 1 if x=='Married' and y=='Platinum' else 0)
df['newState'] = df.apply(makeNewState, axis=1)
df['newState'].value_counts()

0    10120
1        7
Name: newState, dtype: int64

In [13]:
def check(x):
    if x.Marital_Status =='Married' and x.Card_Category =='Platinum':
        return 1
    else:
        return 0


df['newState'] = df.apply(check,axis=1)

Ans  = df['newState'].value_counts()
Ans

0    10120
1        7
Name: newState, dtype: int64

### 8. Gender 컬럼값 M인 경우 male F인 경우 female로 값을 변경하여 Gender 컬럼에 새롭게 정의하라. 각 value의 빈도를 출력하라

In [14]:
df['Gender'] = df.Gender.map(lambda x: 'male' if x == 'M' else 'female')
df.Gender.value_counts()

female    5358
male      4769
Name: Gender, dtype: int64

In [15]:
def changeGender(x):
    if x =='M':
        return 'male'
    else:
        return 'female'
df['Gender'] = df.Gender.apply(changeGender)
Ans = df['Gender'].value_counts()
Ans